     body {
          background: black !important;
          color: white !important;
          font-size: 20px !important;
          padding-right: 0px !important;
     }

     body p {
          color: white !important;
     }

     .forum__message {
          background: black !important;
          border: 2px solid coral !important;
     }

     .forum__message a {
          color: green !important;
     }

     .forum__message {
          padding: 10px !important;
     }

     .forum__quote {
          background: grey !important;
          color: white !important;
     }

     .forum__quote-author {
          color: white !important;
     }

     .forum__message-footer button {
          background-color: black !important;
          color: white !important;
     }

     .forum__message-footer-thumb {
          color: white !important;
     }

     .forum__search {
          display: none !important;
     }

     font {
          color: white !important;
     }

     .forum__heading {
          color: white !important;
     }

     .hbnFUB .smartbanner {
          display: none !important;
     }

     .iNUTac .container {
          background: black !important;
          border-bottom: 1px solid white !important;
          border-top: 1px solid white !important;
     }

     .bCftcv>a {
          color: white !important;
     }

     element.style {
          padding-top: 0px !important;
     }

     .fNXSJW {
          background: black !important;
     }

     h1 {
          color: white !important;
     }

     .coJXaB {
          background: black !important;
     }

     .bURNxN {
          background: white !important;
          color: green !important;
     }

     .jkOZaO {
          color: white !important;
     }

     .iNUTac {
          background: black !important;
     }

     .pagination__pages {
          text-align: center !important;
     }

     .pagination {
          font-size: 2vh !important;
          padding: 20px 0 30px !important;
     }

     .pagination__item {
          color: white !important;
     }

     .widget {
          background: black !important;
          color: white !important;
          border: 1px solid white !important;
     }

     h2 {
          color: white !important;
     }

     .puff.live--two-point-o {
          display: none !important;
     }

     .forum__info {
          display: none !important;
     }

     .forum__message-link span {
          color: green !important;
     }

     .cMhnSJ {
          display: none !important;
     }

     .kQFfuR {
          border-left: 0px !important;
     }

     a {
          color: white !important;
     }

     .forum__post-input,
     .forum__post-textarea {
          background: #b9b9b9 !important;
          background: rgb(34 33 33) !important;
          color: white !important;
     }

     .forum__post-textarea {
          resize: vertical !important;
     }

     .puff {
          border: 1px solid white !important;
          padding: 10px !important;
     }

     .small-article-list {
          background: black !important;
     }

     .forum-list.grid {
          background: black !important;
     }

     .kEAPwG {
          background: black !important;
     }

     .fBnrpC a {
          background: black !important;
     }

     .koDjuk {
          background: black !important;
          border-top: 1px solid white !important;
          border-bottom: 1px solid white !important;
     }

     .jxlCM {
          background: black !important;
          border-bottom: 1px solid white !important;
     }

     .kJbCwo {
          background: black !important;
          border-top: 1px solid white !important;
          border-bottom: 1px solid white !important;
     }

     .fGEfsK a {
          background: black !important;
          color: white !important;
     }

     .hMBJGm {
          background: black !important;
     }

     .goyuCl {
          background: black !important;
     }

     .article-share-box,
     .article-share-box__social {
          background: black !important;
     }

     .article-intro {
          color: white !important;
     }

     .FhwpV h2 {
          color: white !important;
     }

     .iKloAA a {
          background: black !important;
     }

     .cDMuHr>div button {
          background: black !important;
          color: white !important;
     }

     .puff__heading {
          color: white !important;
     }

     .forum__open-quick-message {
          background: white !important;
     }

     .article-social {
          color: white !important;
     }

     .forum__message-body button {
          color: lime !important;
     }

     .bOyoHs,
     .esckuI {
          background: black !important;
     }

     .eIMPQz {
          background: white !important;
          color: green !important;
     }

     .table__row-name {
          color: white !important;
     }

     .pagination__pages button {
          color: black !important;
     }

     .forum__next-game {
          background: black !important;
          border: 1px solid;
     }

     .hfMXJa,
     .gDnfWa {
          background-color: black !important;
          padding: 0px !important;
          border: none !important;
     }

     .forum__post--not-logged-in.error {
          background-color: black !important;
          border: 1px solid !important;
     }

     span {
          color: white !important;
     }

     .iZainC span:hover {
          background: green !important;
     }

     .small-article-row__link:hover {
          background-color: green !important;
     }

     .cSIa-DW div {
          background-color: black !important;
     }

     .dJJYKh,
     .search-and-archive {
          background-color: #332f2a7d !important;
     }

     .jwMItE,
     .iCpWqW div,
     .bxCbdS div,
     .eljeeS {
          background-color: black !important;
     }


     .inCQpO div {
          background-color: black !important;
     }



     .container {
          padding: 0px !important;
     }

     .jkOZaO {
          border-right: 0px !important;
          padding-right: 0px !important;
     }

     .cTfrSo>div>div {
          background: black !important;
     }

     .bnPKEj>div>span.selected,
     .bnPKEj>a.selected,
     .bnPKEj>div>span:hover,
     .bnPKEj>a:hover {
          background: grey !important;
     }

     .chtcEg {
          background-color: black !important;
     }

     .iKloAA>div>span:hover {
          background: green !important;

     }

     .fBnrpC>div>span.selected,
     .fBnrpC>a.selected,
     .fBnrpC>div>span:hover,
     .fBnrpC>a:hover {
          background: green !important;
     }

     /*
     .widget-sidebar {
          width: auto !important;
     }
     */

     /*
     .hbnFUB .main {
          display: block !important;
     }

     .hulshT .main {
          display: block !important;
     }
*/